/* Button */
.btn0 {
    background-color: var(--secondary);
    color: var(--label);
    height: 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

.btn0.active {
    background-color: var(--main);
    color: var(--secondary) !important;
}

.btn0:hover .default {
    display: none !important;
}

.btn0:hover .hidden {
    display: block !important;
}

.formbtn,
.headbtn,
.listbtn,
.addbtn,
.deletebtn,
.deletelistbtn,
.listtdbtn,
.modalbtn,
a .formbtn,
a .listbtn,
a .headbtn {
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

.modalbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--main);
    height: 35px;
    border-radius: 5px;
    width: 150px;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

/* Button Hover */
.btn0:hover {
    background-color: var(--main);
    color: var(--secondary) !important;
}

.formbtn:hover,
a .formbtn:hover {
    background-color: var(--secondary);
    color: var(--main);
}

.headbtn:hover,
a .headbtn:hover {
    background-color: var(--main);
    color: var(--secondary);
}

.listbtn:hover {
    background-color: var(--main);
    color: var(--secondary);
}

.addbtn:hover {
    background-color: var(--secondary);
    color: var(--main);
}

.deletebtn:hover,
.deletelistbtn:hover {
    background-color: var(--secondary);
    color: var(--main);
}

.listtdbtn:hover {
    background-color: transparent;
    color: var(--main);
}

.modalbtn:hover {
    background-color: var(--secondary);
    color: var(--main);
}

.profiletabs.active,
.profiletabs:hover {
    background-color: var(--main);
    color: var(--secondary) !important;
}

.dashtabs:hover,
.dashtabsactive {
    background-color: var(--main);
    color: var(--secondary);
}

.taskassignbtn:hover,
.taskclosebtn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

@media screen and (min-width: 1140px) {

    /* Form Button */
    .formbtn,
    a .formbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    /* Profile Button */
    .headbtn,
    a .headbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    /* List Button */
    .listbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 20px;
        font-size: 15px;
        width: 100%;
    }

    /* Add Button */
    .addbtn {
        background-color: var(--green);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 3px 15px;
        border-radius: 3px;
        font-size: 15px;
        border: 2px solid var(--green);
        transition: var(--transition);
    }

    /* Delete Button */
    .deletebtn {
        background-color: var(--red);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 3px 15px;
        border-radius: 3px;
        font-size: 15px;
        border: 2px solid var(--red);
        transition: var(--transition);
    }

    /* Delete List Button */
    .deletelistbtn {
        background-color: var(--red);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 0px 15px;
        border-radius: 3px;
        font-size: 12px;
        border: 2px solid var(--red);
        transition: var(--transition);
    }

    /* List td Button */
    .listtdbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-weight: 450;
        border: none;
        padding: 1px 10px;
        border-radius: 3px;
        font-size: 12px;
        border: 1px solid var(--main);
        transition: var(--transition);
    }

    /* Accordion Button */
    .accordion-button {
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
        font-weight: 600;
        font-size: 15px;
    }

    /* Profile Tabs */
    .profiletabs {
        border: none;
        border-radius: 20px;
        padding: 5px 25px;
        font-weight: 500;
        font-size: 15px;
        color: var(--primary) !important;
        background-color: transparent;
        transition: var(--transition);
    }

    /* Dashboard Button */
    .dashtabs {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 35px;
        border-radius: 5px;
        width: 150px;
        transition: var(--transition);
    }

    /* Task Stages Button */
    /* Assign Button */
    .taskassignbtn {
        background-color: var(--green);
        color: var(--secondary);
        font-size: 9px;
        font-weight: 450;
        border: 1px solid var(--green);
        padding: 2px 5px;
        border-radius: 2px;
        transition: var(--transition);
    }

    /* Close Button */
    .taskclosebtn {
        background-color: var(--red);
        color: var(--secondary);
        font-size: 9px;
        font-weight: 450;
        border: 1px solid var(--red);
        padding: 2px 5px;
        border-radius: 2px;
        transition: var(--transition);
    }

}

@media screen and (min-width: 768px) and (max-width: 1140px) {

    /* Form Button */
    .formbtn,
    a .formbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    /* Profile Button */
    .headbtn,
    a .headbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 35px;
        border-radius: 5px;
        width: 150px;
    }

    /* List Button */
    .listbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 20px;
        font-size: 15px;
        width: 100%;
    }

    /* Add Button */
    .addbtn {
        background-color: var(--green);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 3px;
        font-size: 15px;
        border: 2px solid var(--green);
        transition: var(--transition);
    }

    /* Delete Button */
    .deletebtn {
        background-color: var(--red);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 3px 15px;
        border-radius: 3px;
        font-size: 15px;
        border: 2px solid var(--red);
        transition: var(--transition);
    }

    /* Delete List Button */
    .deletelistbtn {
        background-color: var(--red);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 0px 15px;
        border-radius: 3px;
        font-size: 12px;
        border: 2px solid var(--red);
        transition: var(--transition);
    }

    /* List td Button */
    .listtdbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-weight: 450;
        border: none;
        padding: 1px 10px;
        border-radius: 3px;
        font-size: 12px;
        border: 1px solid var(--main);
        transition: var(--transition);
    }

    /* Accordion Button */
    .accordion-button {
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
        font-weight: 600;
        font-size: 15px;
    }

    /* Profile Tabs */
    .profiletabs {
        border: none;
        border-radius: 20px;
        padding: 5px 25px;
        font-weight: 500;
        font-size: 13px;
        color: var(--primary) !important;
        background-color: transparent;
        transition: var(--transition);
    }

    /* Dashboard Button */
    .dashtabs {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 35px;
        border-radius: 5px;
        width: 150px;
        transition: var(--transition);
    }

    /* Task Stages Button */
    /* Assign Button */
    .taskassignbtn {
        background-color: var(--green);
        color: var(--secondary);
        font-size: 9px;
        font-weight: 450;
        border: 1px solid var(--green);
        padding: 2px 5px;
        border-radius: 2px;
        transition: var(--transition);
    }

    /* Close Button */
    .taskclosebtn {
        background-color: var(--red);
        color: var(--secondary);
        font-size: 9px;
        font-weight: 450;
        border: 1px solid var(--red);
        padding: 2px 5px;
        border-radius: 2px;
        transition: var(--transition);
    }

}

@media screen and (max-width: 768px) {

    /* Form Button */
    .formbtn,
    a .formbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 13px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 30px;
        border-radius: 5px;
        width: 125px;
    }

    /* Profile Button */
    .headbtn,
    a .headbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 13px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 30px;
        border-radius: 5px;
        width: 100px;
    }

    /* List Button */
    .listbtn {
        background-color: var(--secondary);
        color: var(--main);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 20px;
        font-size: 13px;
        width: 100%;
    }

    /* Add Button */
    .addbtn {
        background-color: var(--green);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 4px 15px;
        border-radius: 3px;
        font-size: 15px;
        border: 2px solid var(--green);
        transition: var(--transition);
    }

    /* Delete Button */
    .deletebtn {
        background-color: var(--red);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 3px 15px;
        border-radius: 3px;
        font-size: 15px;
        border: 2px solid var(--red);
        transition: var(--transition);
    }

    /* Delete List Button */
    .deletelistbtn {
        background-color: var(--red);
        color: var(--secondary);
        font-weight: 600;
        border: none;
        padding: 0px 15px;
        border-radius: 3px;
        font-size: 10px;
        border: 2px solid var(--red);
        transition: var(--transition);
    }

    /* List td Button */
    .listtdbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-weight: 450;
        border: none;
        padding: 1px 10px;
        border-radius: 3px;
        font-size: 12px;
        border: 1px solid var(--main);
        transition: var(--transition);
    }

    /* Accordion Button */
    .accordion-button {
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
        font-weight: 600;
        font-size: 15px;
    }

    /* Profile Tabs */
    .profiletabs {
        border: none;
        border-radius: 20px;
        padding: 5px 25px;
        font-weight: 500;
        font-size: 15px;
        color: var(--primary) !important;
        background-color: transparent;
        transition: var(--transition);
        margin: 0px auto 8px auto;
    }

    /* Dashboard Button */
    .dashtabs {
        background-color: var(--secondary);
        color: var(--main);
        font-size: 13px;
        font-weight: 600;
        border: 1px solid var(--main);
        height: 30px;
        border-radius: 5px;
        width: 125px;
        transition: var(--transition);
    }

    /* Task Stages Button */
    /* Assign Button */
    .taskassignbtn {
        background-color: var(--green);
        color: var(--secondary);
        font-size: 9px;
        font-weight: 450;
        border: 1px solid var(--green);
        padding: 2px 5px;
        border-radius: 2px;
        transition: var(--transition);
    }

    /* Close Button */
    .taskclosebtn {
        background-color: var(--red);
        color: var(--secondary);
        font-size: 9px;
        font-weight: 450;
        border: 1px solid var(--red);
        padding: 2px 5px;
        border-radius: 2px;
        transition: var(--transition);
    }

}

/* HeadBtns */
@media screen and (min-width: 1400px) {
    .headbtns {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        justify-content: start;
        gap: 5px;
    }

    .tabbtns {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1400px) {
    .headbtns {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: start;
        gap: 5px;
    }

    .tabbtns {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .headbtns {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        align-items: center;
        justify-content: start;
    }

    .tabbtns {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
}

@media screen and (max-width: 768px) {
    .headbtns {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        align-items: center;
        justify-content: space-between;
    }

    .headbtns div {
        margin: 10px auto !important;
    }

    .tabbtns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
    }

    .tabbtns div {
        margin: 10px auto !important;
    }
}
