.theme-light {
    --main: #231F20;
    --primary: #000;
    --secondary: #fff;
    --bg: #F7F7FC;
    --stages-bg: #EEF1F3;
    --label: #4d4d4d;
    --input-border: #21242730;
    --tinp-border: #9E9E9E;
    --trow: #ffffff;
    --thead: #696969;
    --tdata: #495057;
    --aside-li: #4d4d4d;
    --mandatory: #ff0000;
    --green: #009400;
    --red: #ca0000;
    --box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
}

.theme-dark {
    --main: #fff;
    --primary: #fff;
    --secondary: #000;
    --bg: #1B1D23;
    --stages-bg: #1b1d231b;
    --label: #D1D1D1;
    --input-border: #FFFFFF30;
    --tinp-border: #6C757D;
    --trow: transparent !important;
    --thead: #B0B3B8;
    --tdata: #E1E4E9;
    --aside-li: #D1D1D1;
    --mandatory: #FF6B6B;
    --green: #00FF94;
    --red: #FF5F5F;
    --box-shadow: 0 0 .875rem 0 rgba(0, 0, 0, .2);
}

.theme-red {
    --main: #fff;
    --primary: #000;
    --secondary: #FF0000;
    --bg: #1B1D23;
    --label: #D1D1D1;
    --input-border: #FFFFFF30;
    --tinp-border: #6C757D;
    --trow: transparent;
    --thead: #B0B3B8;
    --tdata: #E1E4E9;
    --aside-li: #D1D1D1;
    --mandatory: #FF6B6B;
    --green: #00FF94;
    --red: #FF5F5F;
    --box-shadow: 0 0 .875rem 0 rgba(0, 0, 0, .2);
}

.theme-green {
    --main: #1E40FF;
    --primary: #fff;
    --secondary: #008000;
    --bg: #1B1D23;
    --label: #D1D1D1;
    --input-border: #FFFFFF30;
    --tinp-border: #6C757D;
    --trow: #111112;
    --thead: #B0B3B8;
    --tdata: #E1E4E9;
    --aside-li: #D1D1D1;
    --mandatory: #FF6B6B;
    --green: #00FF94;
    --red: #FF5F5F;
    --box-shadow: 0 0 .875rem 0 rgba(0, 0, 0, .2);
}

.theme-purple {
    --main: #fff;
    --primary: #fff;
    --secondary: #800080;
    --bg: linear-gradient(90deg, rgba(231,97,231,1) 0%, rgba(128,0,128,1) 100%);
    --label: #D1D1D1;
    --input-border: #FFFFFF30;
    --tinp-border: #6C757D;
    --trow: transparent;
    --thead: #B0B3B8;
    --tdata: #E1E4E9;
    --aside-li: #D1D1D1;
    --mandatory: #FF6B6B;
    --green: #00FF94;
    --red: #FF5F5F;
    --box-shadow: 0 0 .875rem 0 rgba(0, 0, 0, .2);
}

.theme-yellow {
    --main: #1E40FF;
    --primary: #fff;
    --secondary: #ffd500;
    --bg: #1B1D23;
    --label: #D1D1D1;
    --input-border: #FFFFFF30;
    --tinp-border: #6C757D;
    --trow: #111112;
    --thead: #B0B3B8;
    --tdata: #E1E4E9;
    --aside-li: #D1D1D1;
    --mandatory: #FF6B6B;
    --green: #00FF94;
    --red: #FF5F5F;
    --box-shadow: 0 0 .875rem 0 rgba(0, 0, 0, .2);
}

.theme-orange {
    --main: #1E40FF;
    --primary: #fff;
    --secondary: #ff8800;
    --bg: #1B1D23;
    --label: #D1D1D1;
    --input-border: #FFFFFF30;
    --tinp-border: #6C757D;
    --trow: #111112;
    --thead: #B0B3B8;
    --tdata: #E1E4E9;
    --aside-li: #D1D1D1;
    --mandatory: #FF6B6B;
    --green: #00FF94;
    --red: #FF5F5F;
    --box-shadow: 0 0 .875rem 0 rgba(0, 0, 0, .2);
}

